
#photos {
	height:590px;
	margin: auto;
  width: 50%;
  padding: 10px;
  
} 

.carousel {
  padding-top: 20px;
}


.image-slide {
	height: 590px;
  width: 590px;
  margin: auto;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: #999;
    font-size: 1.2rem;
    position: absolute;
    top: 40%;
    font-family: icons;
    speak: none;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  
  
}

.slide-arrow.right {
  right: 25rem;
  
}

.slide-arrow.left {
	left: 25rem;
}

