.photo0 { grid-area: photo0; }

.wrapper {
  height: 500px;
  width: 610px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(1, 610px);
  grid-template-rows: repeat(1, 500px);
  grid-template-areas:  'photo0 photo1'
}
  
.photo0 > img {
  object-fit: cover;
  width: 600px;
  height: 400px;
}

.photo1 {
    display: none;
}

.photo2 {
  display: none;
}
.photo3 {
  display: none;
}

.photo4 {
  display: none;
}

.photo5 {
  display: none;

}
.photo6 {
  display: none;
}

.photo7 {
  display: none;
}

.photo8 {
  display: none;
}

.photo9 {
  display: none;
}
.photo10 {
  display: none;
}
.photo11 {
  display: none;
}