.photo0 { grid-area: photo0; }
.photo1 { grid-area: photo1; }
.photo2 { grid-area: photo2; }
.photo3 { grid-area: photo3; }
.photo4 { grid-area: photo4; }
.photo5 { grid-area: photo5; }
.photo6 { grid-area: photo6; }

.wrapper {
  height: 280px;
  width: 610px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(10, 61px);
  grid-template-rows: repeat(6, 46.5px);
  grid-template-areas:  'photo0 photo0 photo2 photo2 photo2 photo2 photo3 photo3 photo4 photo4'
                        'photo0 photo0 photo2 photo2 photo2 photo2 photo3 photo3 photo4 photo4'
                        'photo0 photo0 photo2 photo2 photo2 photo2 photo3 photo3 photo4 photo4'
                        'photo1 photo1 photo2 photo2 photo2 photo2 photo5 photo5 photo6 photo6'
                        'photo1 photo1 photo2 photo2 photo2 photo2 photo5 photo5 photo6 photo6'
                        'photo1 photo1 photo2 photo2 photo2 photo2 photo5 photo5 photo6 photo6';
  }

.photo0 > img, .photo1 > img {
  width: 122px;
  height: 141px;
  object-fit: cover;
}

.photo2 > img{
  object-fit: cover;
  width: 245px;
  height: 284px;
}

.photo3 > img, .photo4 > img, .photo5 > img, .photo6 > img{
  object-fit: cover;
  width: 123px;
  height: 141.5px;
}

.photo7 {
  display: none;
}

.photo8 {
  display: none;
}

.photo9 {
  display: none;
}
.photo10 {
  display: none;
}
.photo11 {
  display: none;
}