
.photo0 { grid-area: photo0; }
.photo1 { grid-area: photo1; }
.photo2 { grid-area: photo2; }
.photo3 { grid-area: photo3; }
.photo4 { grid-area: photo4; }
.photo5 { grid-area: photo5; }
.photo6 { grid-area: photo6; }
.photo7 { grid-area: photo7; }
.photo8 { grid-area: photo8; }


.wrapper {
  height: 280px;
  width: 610px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(10, 61px);
  grid-template-rows: repeat(6, 46.5px);
  grid-template-areas: 'photo0 photo0 photo2 photo2 photo2 photo2 photo3 photo3 photo4 photo4'
                       'photo0 photo0 photo2 photo2 photo2 photo2 photo3 photo3 photo4 photo4'
                       'photo0 photo0 photo2 photo2 photo2 photo2 photo5 photo5 photo6 photo6'
                       'photo1 photo1 photo2 photo2 photo2 photo2 photo5 photo5 photo6 photo6'
                       'photo1 photo1 photo2 photo2 photo2 photo2 photo7 photo7 photo8 photo8'
                       'photo1 photo1 photo2 photo2 photo2 photo2 photo7 photo7 photo8 photo8';
}

.photo0 > img, .photo1 > img {
  object-fit: cover;
  width: 122px;
  height: 141px;
}



.photo2 > img {
  object-fit: cover;
  width: 244.5px;
  height: 284px;
}

.photo3 > img, .photo4 > img, .photo5 > img, .photo6 > img, .photo7 > img, .photo8 > img {
  object-fit: cover;
  width: 122px;
  height: 93.5px;
}

.photo9 {
  display: none;
}
.photo10 {
  display: none;
}
.photo11 {
  display: none;
}